@model IEnumerable<PopIt.Models.TestRule>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rules)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassMark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Rules)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalMark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassMark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Test.TestName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RuleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RuleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RuleId">Delete</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>
<div class="btn btn-success" >
    <a asp-controller="Questions" asp-action="">Create Questions</a>
</div>